replicaCount: 1

image:
  repository: spotify
  tag: latest
  pullPolicy: IfNotPresent


service:
  type: NodePort
  port: 80
  nodePort: 30001

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

ingress:
  enabled: false
  host: spotify.local
imagePullSecrets:
  - name: acr-secret
